@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* Setting padding and margin to 0, font family to Montserrat and Border Box Model to all of the doctype */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

/* Setting Background color to dark blue */

body {
  background: #141539;
}

.header-background {
  background: linear-gradient(90.87deg, #ff4848 0%, #ff8a00 101.37%);
  height: 170px;
}

.title-text {
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
