/* Imported custom google font : Montserrat for matching game theme */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* Setting padding and margin to 0, font family to Montserrat and Border Box Model to all of the doctype */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

/* Setting Background color to dark blue */

body {
  background: #141539;
}

/* Class to make background dark blue */
.bg-blue {
  background: #141539;
}

/* Top navbar */
.header-background {
  background: linear-gradient(90.87deg, #ff4848 0%, #ff8a00 101.37%);
  height: 130px;
}

/* Main Title */
.title-text {
  font-style: normal;
  font-weight: 900;
  font-size: 3rem !important;
  line-height: 43px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Text Shadow */
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Game page home link */
.go-to-home-link:hover {
  color: white !important;
}

/* Main title of gamepage */
.title-text-game-page {
  font-style: normal;
  font-weight: 800;
  line-height: 63px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* All buttons hovers and focus states outline and box shadow removing */
.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Big buttons for rounds play game and rules */
.game-big-button {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 99px;
  border: 11px solid #ff02026e;
  width: 506px;
  height: 174px;
  transition: border 0.3s ease-in-out;
}

/* Big game button hover states */
.game-big-button:hover,
.game-big-button:focus {
  border: 11px solid #ff0202cc;
}

/* Gradient text design */
.gradient-text-design {
  font-size: 48px;
  font-weight: 800;
  background: -webkit-linear-gradient(#ff6969, #ff8800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Rules modal top part */
.modal-top-header {
  background: #eff8ff;
  border-radius: 0px 0px 40px 40px;
  padding-left: 30px;
  padding-right: 30px;
  border: 0;
}

/* Rules Modal Box */
.modal-dialog {
  max-width: 100%;
}

/* Radiobutton input for difficulty easy and hard */
.form-check-input {
  padding: 1rem 2rem !important;
  border-color: rgb(255, 255, 255);
}

/* Radiobutton input for difficulty easy and hard checked state */
.form-check-input:checked {
  background-color: green !important;
  border-color: green;
  box-shadow: none;
}

/* Focus state of radiobutton input */
.form-check-input:focus {
  box-shadow: none;
  border-color: green;
}

/* Label for easy and hard mode checkbox */
.form-check-label {
  margin-top: 2px;
}

/* Score text */
.score-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  /* identical to box height */
  color: #ffffff;
  margin-bottom: 0;
}

/* Score no text design */
.score-no-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  color: #ffb800;
}

/* Selected item box */
.outer-box {
  background: linear-gradient(90.87deg, #ffd8d8 0%, #ffdfbb 101.37%);
  padding: 0.7rem;
  border-radius: 50%;
  filter: blur(3px);
}

/* Selected item box blur removal */
.outer-box-no-blur {
  filter: blur(0px) !important;
}

/* Outer Box color to greenish for winner */
.outer-box-win {
  background: linear-gradient(90.87deg, #1bb661 0%, #05ff76 101.37%);
  filter: blur(0px);
}

/* Outer Box color to red for loser */
.outer-box-lose {
  background: linear-gradient(90.87deg, #ff0000 0%, #ff5100 101.37%);
  filter: blur(0px);
}

/* Inner image box design */
.inner-box {
  background-color: white;
  padding: 2.7rem;
  border-radius: 50%;
}

/* Small user select outer box */
.outer-box-small {
  display: inline-block;
  background: linear-gradient(90.87deg, #ffd8d8 0%, #ffdfbb 101.37%);
  border-radius: 50%;
  padding: 0.2rem;
}
.outer-box-small:hover {
  background: linear-gradient(90.87deg, #ff3c3c 0%, #ff8800 101.37%);
  cursor: pointer;
}
.outer-box-small:hover .inner-box-small {
  background: #ffffff;
  cursor: pointer;
}
.outer-box-small-clicked {
  background: linear-gradient(90.87deg, #ff3c3c 0%, #ff8800 101.37%);
  cursor: pointer;
}
.inner-box-small-outer-clicked {
  background: #ffffff;
  cursor: pointer;
}

/* User select box inner */
.inner-box-small {
  background-color: #0f0f27;
  border-radius: 50%;
  padding: 1rem;
}

/* User select item image */
.small-image {
  height: 50px;
  width: 50px;
}

/* Rules list */
.list-group-item {
  display: flex;
  justify-content: space-between;
}

.indicator-image {
  position: absolute;
  bottom: -1rem;
  transform: scale(0.7);
}

/* Who beats whom text */
.game-result-text {
  font-size: 41px;
  font-weight: bold;
  color: white;
}

/* User lose text design */
.lose-text {
  font-weight: bold;
  font-size: 53px;
  color: #ff0000;
  text-shadow: 2px 0px 0px #ffffff;
}

/* user win text design */
.win-text {
  font-weight: bold;
  font-size: 53px;
  color: green;
  text-shadow: 2px 0px 0px #ffffff;
}

/* Select item box design */
.absolute-text-design {
  position: absolute;
  right: 25rem;
}
/* Select item arrow positioning */
.arrow-inside {
  position: absolute;
  right: 0;
}
/* Select choice text design */
.select-choice-text {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  right: -3rem;
  top: -3rem;
}
/* 
Media Query For Responsive Design | min-width:700px will 
apply the css inside the block
whenever the screen size is greater than 700px 
*/

@media only screen and (min-width: 700px) {
  /* 
  Rules Modal Dialog to maximum 80% screen size when website is viewed
  on screen greater than 700px
  */
  .modal-dialog {
    max-width: 80%;
  }
}

/* 
Media Query For Responsive Design | max-width:700px will 
apply the css inside the block
whenever the screen size is less than 700px 
especially for mobile
*/

@media only screen and (max-width: 700px) {
  .game-big-button {
    width: 100%;
    height: 100px;
  }
  .gradient-text-design {
    padding-top: 0.8rem !important;
    font-size: 1rem;
  }
  .title-text {
    font-size: 1rem !important;
    line-height: 2rem;
  }
  .header-background-mobile {
    height: 95px !important;
    width: 100%;
  }
  .game-result-text {
    font-size: 18px;
    font-weight: 700;
  }
  .lose-text {
    font-size: 25px;
  }
  .win-text {
    font-size: 25px;
  }
  .absolute-text-design {
    display: none;
  }
  .score-text {
    font-size: 20px;
  }
  .score-no-text {
    font-size: 40px;
  }
  .outer-box {
    padding: 0.3rem;
  }
  .inner-box {
    padding: 1.2rem;
  }
  .indicator-image {
    transform: scale(0.6);
  }
  .small-image {
    height: 50px;
    width: 50px;
  }
  .rounds-button-mobile {
    height: 50px;
    border-width: 5px;
  }
}
